.tvShow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-x: auto;
  gap: 1rem;
  background-color: var(--lowWhite);
  border: 2px solid var(--deepRed);
  border-radius: 10px;
  margin-top: 20px;
  flex: 1 1 700px;
  padding: 20px 20px 20px 30px;
}

.tvShow-container input {
  font-size: 24px;
  border-radius: 10px;
  padding: 16px;
  width: 99%;
}

.tvShow-box {
  min-width: 354px;
  max-width: 354px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.tvShow-list {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.tvShow-box img {
  max-width: 200px;
  height: auto;
}

.tvShow-img img {
  width: 100%; 
  height: 300px; 
  object-fit: contain;
  background-color: #000;
  margin: 1rem 0;
}

.tvShow-box .plus-icon .minus-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: visibility 0s, opacity 0.3s ease; 
}

.tvShow-box.notSelected .minus-icon {
  display: none;
  transition: visibility 0s, opacity 0.3s ease;
}

.tvShow-box.selected .plus-icon {
  display: none;
  transition: visibility 0s, opacity 0.3s ease;
}