:root {
  --deepRed: #8E0D3C;
  --blackCurrant: #1D1842;
  --orange: #EF3B33; 
  --rosePink: #FDA1A2;
  --lowWhite: #F0F0F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.header-container p {
  font-size: 36px;
  color: var(--deepRed);
  font-family: 'Oxygen', sans-serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  font-family: 'Arial', sans-serif;
}

.time-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--deepRed);
  color: var(--lowWhite);
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  min-width: 100px;
}

.time-value {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}

.time-label {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Oxygen', sans-serif;
}